<main>
<div *ngIf="news; else loading" class="news-container">
    <h2>{{ news.title }}</h2>
    <div *ngIf="news.imageUrl" class="image-container">
        <img [src]="news.imageUrl" alt="Image" width="300">
    </div>
    <div class="info-row">
        <p class="publisher">{{ news.publisher }}</p>
        <p class="date"><strong>Fecha:</strong> {{ news.timestamp | date:'dd/MM/yy' }}</p>
    </div>
    <p>{{ news.snippet }}</p>
    <div class="buttons-container">
        <a [href]="news.url" target="_blank" class="read-more-button">Leer más</a>
        <button (click)="likeNews()" class="like-button">
            <span class="heart-icon">♥</span>
            <span>Me gusta ({{ likes }})</span>
        </button>
    </div>
</div>
</main>
<ng-template #loading>
    <p>Cargando noticia...</p>
</ng-template>