/* log-in.component.css */

.log-in-container {
  width: 100%;
  max-width: 200px;
  padding: 20px;
  background-color: #463c3c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute; /* Posiciona de forma absoluta */
  top: 0; /* Coloca en la parte superior */
  right: 0; /* Coloca en la parte derecha */
}
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input.form-control:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  button.btn:disabled {
    background-color: #090de2;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .link-btn {
    display: inline-block;
    margin-right: 10px; /* Espacio entre los enlaces */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 16px; /* Tamaño de la fuente */
    color: #007bff; /* Color de texto similar al color del botón */
    cursor: pointer; /* Cambiar el cursor para indicar que es interactivo */
}

.link-btn:hover {
    text-decoration: underline; /* Subrayado en el hover */
    color: #0056b3; /* Cambiar color al pasar el mouse */
}