.weather-container {
    max-width: 200px; /* Reduce el ancho máximo */
    margin: 0; /* Elimina el margen */
    padding: 10px; /* Reduce el padding */
    background-color: #f0f8ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: absolute; /* Posiciona de forma absoluta */
    top: 0; /* Coloca en la parte superior */
    left: 0; /* Coloca en la parte izquierda */
}

.weather-info {
    margin-bottom: 5px;
}

.weather-info .label {
    font-weight: bold;
}

.weather-info span {
    font-size: 0.9em; /* Reduce el tamaño de la fuente */
}

h2 {
    text-align: center;
    color: #333;
}