/* General form styles */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(98, 95, 100);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 15px;
}

/* Label styles */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Input styles */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: auto;
}
