
<h2 class="centered-title">{{aux}}</h2>
<div class="news-container">
    <div *ngFor="let news of newsList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="news-item">
        
        <h2>{{ news.title }}</h2>
        <button (click)="onNewsClick(news)"> Ver más</button>
        <p><em>{{ news.timestamp | date:'dd/MM/yy' }}</em></p>
    </div>
</div>

<!-- Controles de paginación -->
<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    <app-highlight></app-highlight>