.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.news-item {
    background-color: #e9a6a6; /* Color de fondo gris más oscuro */
    border: 1px solid #ebb3b3;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-item h2 {
    font-size: 1.5em; /* Aumenta el tamaño de la fuente */
    font-style: italic; /* Aplica estilo itálico */
    margin: 10px 0; /* Añade un poco de margen */
}

.centered-title {
    text-align: center;
    font-size: 2.5em; /* Aumenta el tamaño de la fuente */
    margin: 20px 0; /* Añade un poco de margen vertical */
}