<nav>
    <ul>
        <li><a (click)="homeNavigate()">Inicio</a></li>
        <li><a (click)="onNavigate('world')">Internacional</a></li>
        <li><a (click)="onNavigate('business')">Empresarial</a></li>
        <li><a (click)="onNavigate('sport')">Deportes</a></li>
        <li><a (click)="onNavigate('entertainment')">Entretenimiento</a></li>
        <li><a (click)="onNavigate('health')">Salud</a></li>
        <li><a (click)="onNavigate('science')">Ciencia</a></li>
        <li><a (click)="onNavigate('technology')">Tecnología</a></li>
    </ul>
</nav>
